openapi: '3.0.0'
info:
  version: 1.0.0
  title: FTT
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /queries:
    get:
      summary: List all queries
      operationId: listQueries
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of queries
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Queries'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create query
      operationId: createQuery
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /queries/{queryId}:
    get:
      summary: Query details
      operationId: showQueryById
      parameters:
        - name: queryId
          in: path
          required: true
          description: The id of the query to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Queries'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metrics:
    get:
      summary: List all metrics
      operationId: listMetrics
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of metrics
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Query:
      required:
        - id
        - question
      properties:
        id:
          type: integer
          format: int64
        question:
          type: string
        response:
          type: string
    Queries:
      type: array
      items:
        $ref: '#/components/schemas/Query'
    Metric:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        value:
          type: string
    Metrics:
      type: array
      items:
        $ref: '#/components/schemas/Metric'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string